.form {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 30px;
  border-top: #6610f2 4px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}
body {
  font-family: "Roboto Condensed";
}
.form-header {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

label.btn {
  background-color: white;
  color: black;
  border: black 1px solid;
}
.is-invalid label.btn {
  border: 1px solid red;
}

.row {
  margin: 0px;
}

.addStudentBtn {
  width: 100%;
  margin-top: 10px;
}

.studentProfile {
  width: 100%;
  height: 243px;
}
.col-md-8 {
  position: relative;
}

.student-item-container {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 20px;
  position: sticky;
  top: 0px;
  background-color: #0fa8aa;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.student-item-container tr:nth-child(even) {
  background-color: #76bdcb;
}
.student-item-container tr:nth-child(odd) {
  background-color: #07acaf;
}

.table {
  margin-bottom: 0px;
}

select.sort-by {
  display: inline-block;
  width: auto;
  position: relative;
  top: 2px;
}
.students-list-head thead {
  background-color: #f5854e;
  color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.student-list-body tr:hover {
  background-color: #ffffffe0;
  border: 1px solid black;
}
.student-list-body {
  background-color: #ffffff87;
  color: black;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.close-from {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.main::after {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-image: url("img/study.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-content {
  position: relative;
  background-color: #ffffff00;
  border: 0px;
}
.modal-content::after {
  background-color: black;
  opacity: -0.5;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  right: 0;
  bottom: 0;
  position: absolute;
}
